<section class="col-lg-6 col-md-push-3">
  <div class="page-header">
    <h1>{{vm.claim._id ? 'Edit Claim' : 'New Claim'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.claimForm" class="form-horizontal" ng-submit="vm.save(vm.form.claimForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.claim.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.claimForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Claim name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label" for="content">Content</label>
          <textarea name="name" type="text" ng-model="vm.claim.content" id="content" rows="15" class="form-control" placeholder="Content" required></textarea>
          <div ng-messages="vm.form.claimForm.content.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Claim content is required.</p>
          </div>
        </div>

       <div class="row">
         <div class="form-group pull-left" show-errors >
           <label class="control-label" for="lat">Latitude :{{ vm.claim.latt }}</label>
           <input  name="lat" type="text" data-ng-model="vm.claim.latt" id="lat" class="form-control hide" placeholder="Latitude" required>
           <div ng-messages="vm.form.claimForm.lat.$error" role="alert">
             <p class="help-block error-text" ng-message="required">Claim Latitude is required.</p>
           </div>
         </div>
         <div class="form-group pull-right" show-errors>
           <label class="control-label" for="lon">Longitude :{{ vm.claim.lonn }}</label>
           <input name="lon" type="text" data-ng-model="vm.claim.lonn" id="lon" class="form-control hide" placeholder="Longitude" required>
           <div ng-messages="vm.form.claimForm.lon.$error" role="alert">
             <p class="help-block error-text" ng-message="required">Claim Longitude is required.</p>
           </div>
         </div>
       </div>
        <div class="form-group">
          <button type="submit"  class="btn btn-block btn-primary">{{vm.claim._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>


</section>
