<section>
  <div class="page-header">
    <h1 data-ng-bind="vm.claim.name"></h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.claim.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="claims.edit({ claimId: vm.claim._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <div id="map"></div>
  <script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 6
      });
      var infoWindow = new google.maps.InfoWindow({map: map});

      // Try HTML5 geolocation.
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {
          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent('Location found.');
          map.setCenter(pos);
        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
        'Error: The Geolocation service failed.' :
        'Error: Your browser doesn\'t support geolocation.');
    }

  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCpTHbKL_Krs5kwOLTW72ZC8gEWilW8yHU&signed_in=true&callback=initMap" async defer>
  </script>
  <img ng-src="{{aut.user.profileImageURL}}" class="header-profile-image" />
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.claim.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.claim.user"
            data-ng-bind="vm.claim.user.displayName"></span>
      <span data-ng-if="!vm.claim.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.claim.content"></p>
</section>
