<section ng-controller="HomeController">
  <!-- Wrapper -->
  <div id="wrapper">
    <!-- Main -->
    <div id="main">

      <!-- Post -->
      <article class="post">
        <header>
          <div class="title">
            <h2><a href="#">SERVICES & FEATURES</a></h2>


          </div>
          <div class="meta">
           <h3>Claim</h3>

          </div>
        </header>
        <a href="#" class="image featured"><img src="img/claim.jpg" alt=""/></a>

        <p>
          If there is any need of improvement or reparation of infrastructure just send us a petition concerning the claim.</p>

      </article>

      <!-- Post -->
      <article class="post">
        <header>
          <div class="title">
            <h2><a href="#">SERVICES & FEATURES</a></h2>


          </div>
          <div class="meta">
         <h3> LAND A HAND</h3>

          </div>
        </header>
        <a href="#" class="image featured"><img src="img/pic02.jpg" alt=""/></a>

        <p>Your neighbor do not have food to eat or clothes to wear. One of the better ways to help him and needy people is to give them an opportunity to be helped by other people by posting their profile in our plateform</p>

      </article>

      <!-- Post -->
      <article class="post">
        <header>
          <div class="title">
            <h2><a href="#">SERVICES & FEATURES</a></h2>


          </div>
          <div class="meta">
            <h3>PROPOSE PROJECTS</h3>
          </div>
        </header>
        <a href="#" class="image featured"><img src="img/pic03.jpg" alt=""/></a>

        <p>Lack of projects in your city?? Have an idea/proposition of new projects? Share your idea with your neighboors..</p>

      </article>
      <article class="post">
        <header>
          <div class="title">
            <h2><a href="#">SERVICES & FEATURES</a></h2>


          </div>
          <div class="meta">
            <h3>CHECK THE LATEST NEWS</h3>
          </div>
        </header>
        <a href="#" class="image featured"><img src="img/pic077.jpg" alt=""/></a>

        <p>Through our plateform you can get informed if there is any problem of providing electricity ,water or any necessity of life.</p>

      </article>


                  <!-- Pagination -->

    </div>

    <!-- Sidebar -->
    <section id="sidebar">

      <!-- Intro -->
      <section id="intro">
       <center> <a href="#" class="logo" ><img src="img/logo-o.png" alt=""/></a>
        <header>
          <h2>Best Hood</h2>

          <p>In Union There is Strength</p></center>
        </header>
      </section>

      <!-- Mini Posts -->
      <section>
        <div class="mini-posts">

          <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="#">Vitae sed condimentum</a></h3>
              <time class="published" datetime="2015-10-20">October 20, 2015</time>
              <a href="#" class="author"><img src="img/avatar.jpg" alt=""/></a>
            </header>
            <a href="#" class="image"><img src="img/pic04.jpg" alt=""/></a>
          </article>

          <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="#">Rutrum neque accumsan</a></h3>
              <time class="published" datetime="2015-10-19">October 19, 2015</time>
              <a href="#" class="author"><img src="img/avatar.jpg" alt=""/></a>
            </header>
            <a href="#" class="image"><img src="img/pic05.jpg" alt=""/></a>
          </article>

          <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="#">Odio congue mattis</a></h3>
              <time class="published" datetime="2015-10-18">October 18, 2015</time>
              <a href="#" class="author"><img src="img/avatar.jpg" alt=""/></a>
            </header>
            <a href="#" class="image"><img src="img/pic06.jpg" alt=""/></a>
          </article>

          <!-- Mini Post -->
          <article class="mini-post">
            <header>
              <h3><a href="#">Enim nisl veroeros</a></h3>
              <time class="published" datetime="2015-10-17">October 17, 2015</time>
              <a href="#" class="author"><img src="img/avatar.jpg" alt=""/></a>
            </header>
            <a href="#" class="image"><img src="img/pic07.jpg" alt=""/></a>
          </article>

        </div>
      </section>
      <section class="blurb">
        <h2>ABOUT US & BEST HOOD</h2>

        <p>Best Hood is a platform for locals to share all things they would like to change in their neighbourhood.Our platform aims to bring closer the authorities and citizens in order to improve their situation. We're a team of designers and coders working to create beautiful, human-friendly digital experiences for important causes. We passionately believe that design & technology can be a powerful force for change.</p>

      </section>

      <!-- Posts List -->
      <h2><center>Team Member</center></h2>
      <section>

        <ul class="posts">
          <li>
            <article>
              <header>
                <h3><a href="#">Khaled Ebbdeli</a></h3>

              </header>
              <a href="#" class="image"><img src="img/khaled.jpg" alt=""/></a>
            </article>
          </li>
          <li>
            <article>
              <header>
                <h3><a href="#">Mhamed Yousfi</a></h3>

              </header>
              <a href="#" class="image"><img src="img/Mhamed.jpg" alt=""/></a>
            </article>
          </li>
          <li>
            <article>
              <header>
                <h3><a href="#">Oumaima Bouyahi</a></h3>

              </header>
              <a href="#" class="image"><img src="img/oum.jpg" alt=""/></a>
            </article>
          </li>
          <li>
            <article>
              <header>
                <h3><a href="#">Ferdaws Gmar</a></h3>

              </header>
              <a href="#" class="image"><img src="img/ferdaws.jpg" alt=""/></a>
            </article>
          </li>

        </ul>
      </section>

      <!-- About -->

      <!-- Footer -->


    </section>

  </div>
</section>
