<section ng-controller="HomeController">
  <div class="portfolio_caption clearfix" id="page"><!-- column -->
    <div class="position_content" id="page_position_content">
      <a class="anchor_item colelem" id="top"></a>


      <div class="slider_text clearfix mse_pre_init" id="u3436-6"><!-- content -->
        <p style="color: #616161">for a best neighbrhood</p>

        <p style="color: #FFFFFF">best hood</p>
      </div>
      <a class="nonblock nontext anim_swing work_button mse_pre_init" id="u3437" href="/">
        <!-- simple frame --></a>

      <div class="clearfix colelem" id="pu1185"><!-- group -->
        <div class="browser_width grpelem" id="u1185-bw">
          <div id="u1185"><!-- column -->
            <div class="clearfix" id="u1185_align_to_page">
              <div class="position_content" id="u1185_position_content">
                <a class="anchor_item colelem" id="recentworks"></a>

                <div class="page_title clearfix colelem" id="u232-4"><!-- content -->
                  <p>RECENT WORKS</p>
                </div>
                <div class="page_title_left_line colelem" id="u860"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u863"><!-- simple frame --></div>
                <div class="portfolio_image_right clip_frame clearfix colelem" id="u310"><!-- image -->
                  <div id="u310_clip">
                    <img class="position_content" id="u310_img" src="img/img1.jpg" alt="" width="601"
                         height="411"/>
                  </div>
                </div>
                <div class="portfolio_image_left clip_frame clearfix colelem" id="u295"><!-- image -->
                  <div id="u295_clip">
                    <img class="position_content" id="u295_img" src="img/img2.jpg" alt="" width="716"
                         height="489"/>
                  </div>
                </div>
                <div class="work_button colelem" id="u317"><!-- simple frame --></div>
                <a class="anchor_item colelem" id="servicesfeatures"></a>

                <div class="page_title clearfix colelem" id="u333-4"><!-- content -->
                  <p>SERVICES &amp; FEATURES</p>
                </div>
                <div class="page_title_left_line colelem" id="u871"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u872"><!-- simple frame --></div>
                <div class="clearfix colelem" id="ppu1115"><!-- group -->
                  <div class="clearfix grpelem" id="pu1115"><!-- column -->
                    <div class="clearfix colelem" id="u1115"><!-- column -->
                      <div class="work_text_left clearfix colelem" id="u342-4"><!-- content -->
                        <p>claims</p>
                      </div>
                      <div class="work_text_left clearfix colelem" id="u343-4"><!-- content -->
                        <p>if there is any need of improvement or reparation of infrastructure just
                          send us a petition concerning the claim.</p>
                      </div>
                    </div>
                    <div class="clearfix colelem" id="u1117"><!-- column -->
                      <div class="work_text_left clearfix colelem" id="u348-4"><!-- content -->
                        <p>projects</p>
                      </div>
                      <div class="work_text_left clearfix colelem" id="u349-4"><!-- content -->
                        <p>Lack of projects in your city?? Have an idea/proposition of new projects?
                          Share your idea with your neighboors..</p>
                      </div>
                    </div>
                  </div>
                  <div class="grpelem" id="u337"><!-- simple frame --></div>
                  <div class="clearfix grpelem" id="pu1116"><!-- column -->
                    <div class="clearfix colelem" id="u1116"><!-- column -->
                      <div class="work_text_right clearfix colelem" id="u357-4"><!-- content -->
                        <p>Land a hand</p>
                      </div>
                      <div class="work_text_right clearfix colelem" id="u358-4"><!-- content -->
                        <p>your neighbor do not have food to eat or clothes to wear... One of the
                          better ways to help him and needy people is to give them an opportunity
                          to be helped by other people by posting their profile in this
                          plateform...</p>

                      </div>
                    </div>
                    <div class="clearfix colelem" id="u1118"><!-- column -->
                      <div class="work_text_right clearfix colelem" id="u366-4"><!-- content -->
                        <p>check the latest news</p>
                      </div>
                      <div class="work_text_right clearfix colelem" id="u365-4"><!-- content -->
                        <p>through our plateform you can get informed if there is any problem of
                          providing electricity ,water or any necessity of life.</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="anchor_item colelem" id="aboutzeq"></a>

                <div class="page_title clearfix colelem" id="u602-4"><!-- content -->
                  <p>ABOUT US &amp; Best Hood</p>
                </div>
                <div class="page_title_left_line colelem" id="u878"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u879"><!-- simple frame --></div>
                <div class="dijital_text clearfix colelem" id="u605-7"><!-- content -->
                  <p> Best Hood is a platform for locals to share all things they would like to change in
                    their neighbourhood.Our platform aims to bring closer the authorities and citizens
                    in order to improve their situation. We're a team of designers and coders working to
                    create beautiful, human-friendly digital experiences for important causes. We
                    passionately believe that design &amp; technology can be a powerful force for
                    change.</p>

                </div>
                <div class="clearfix colelem" id="pu2100"><!-- group -->
                  <div class="grpelem" id="u2100"><!-- simple frame --></div>
                  <div class="grpelem" id="u2108"><!-- simple frame --></div>
                </div>
                <a class="anchor_item colelem" id="team"></a>

                <div class="page_title clearfix colelem" id="u1193-4"><!-- content -->
                  <p>our team</p>
                </div>
                <div class="page_title_left_line colelem" id="u1194"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u1195"><!-- simple frame --></div>
                <a class="anchor_item colelem" id="latestnews"></a>

                <div class="page_title clearfix colelem" id="u1355-4"><!-- content -->
                  <p>LATEST NEWS</p>
                </div>
                <div class="page_title_left_line colelem" id="u1356"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u1357"><!-- simple frame --></div>
                <div class="clearfix colelem" id="pu1406"><!-- group -->
                  <div class="clearfix grpelem" id="u1406"><!-- group -->
                    <div class="PamphletWidget clearfix grpelem" id="pamphletu1407"><!-- none box -->
                      <div class="popup_anchor" id="u1412popup">
                        <div class="ContainerGroup clearfix" id="u1412"><!-- stack box -->
                          <div class="Container museBGSize grpelem" id="u1415">
                            <!-- simple frame --></div>
                          <div class="Container invi museBGSize grpelem" id="u1413">
                            <!-- simple frame --></div>
                          <div class="Container invi museBGSize grpelem" id="u1414">
                            <!-- simple frame --></div>
                        </div>
                      </div>
                      <div class="ThumbGroup clearfix grpelem" id="u1416"><!-- none box -->
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1417"><!-- simple frame --></div>
                        </div>
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1419"><!-- simple frame --></div>
                        </div>
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1418"><!-- simple frame --></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix grpelem" id="pu1427"><!-- group -->
                      <div class="clearfix grpelem" id="u1427"><!-- column -->
                        <div class="position_content" id="u1427_position_content">
                          <div class="clearfix colelem" id="u1425-6"><!-- content -->
                            <p id="u1425-2">HOW TO REST LATEST NEWS TITLE</p>

                            <p id="u1425-4">May 13, 2015</p>
                          </div>
                          <div class="clearfix colelem" id="u1423-6"><!-- content -->
                            <p id="u1423-2"><span id="u1423">ï‘¾</span></p>

                            <p id="u1423-4">ADMÄ°N</p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix grpelem" id="u1424-6"><!-- content -->
                        <p id="u1424-2"><span id="u1424">ï„œ</span></p>

                        <p id="u1424-4">1125</p>
                      </div>
                      <div class="clearfix grpelem" id="u1428-6"><!-- content -->
                        <p id="u1428-2"><span id="u1428">ï„º</span></p>

                        <p id="u1428-4">89</p>
                      </div>
                      <div class="clearfix grpelem" id="u1422-6"><!-- content -->
                        <p id="u1422-2"><span id="u1422">ïˆŽ</span></p>

                        <p id="u1422-4">coffee</p>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix grpelem" id="u1600"><!-- group -->
                    <div class="PamphletWidget clearfix grpelem" id="pamphletu1607"><!-- none box -->
                      <div class="popup_anchor" id="u1612popup">
                        <div class="ContainerGroup clearfix" id="u1612"><!-- stack box -->
                          <div class="Container museBGSize grpelem" id="u1614">
                            <!-- simple frame --></div>
                        </div>
                      </div>
                      <div class="ThumbGroup clearfix grpelem" id="u1616"><!-- none box -->
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1619"><!-- simple frame --></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix grpelem" id="pu1601"><!-- group -->
                      <div class="clearfix grpelem" id="u1601"><!-- column -->
                        <div class="position_content" id="u1601_position_content">
                          <div class="clearfix colelem" id="u1606-6"><!-- content -->
                            <p id="u1606-2">HOW TO REST LATEST NEWS TITLE</p>

                            <p id="u1606-4">May 13, 2015</p>
                          </div>
                          <div class="clearfix colelem" id="u1604-6"><!-- content -->
                            <p id="u1604-2"><span id="u1604">ï‘¾</span></p>

                            <p id="u1604-4">JOHN</p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix grpelem" id="u1605-6"><!-- content -->
                        <p id="u1605-2"><span id="u1605">ï„œ</span></p>

                        <p id="u1605-4">856</p>
                      </div>
                      <div class="clearfix grpelem" id="u1602-6"><!-- content -->
                        <p id="u1602-2"><span id="u1602">ï„º</span></p>

                        <p id="u1602-4">12</p>
                      </div>
                      <div class="clearfix grpelem" id="u1603-6"><!-- content -->
                        <p id="u1603-2"><span id="u1603">ïˆŽ</span></p>

                        <p id="u1603-4">ART</p>
                      </div>
                    </div>
                  </div>
                  <div class="clearfix grpelem" id="u1644"><!-- group -->
                    <div class="PamphletWidget clearfix grpelem" id="pamphletu1646"><!-- none box -->
                      <div class="popup_anchor" id="u1647popup">
                        <div class="ContainerGroup clearfix" id="u1647"><!-- stack box -->
                          <div class="Container museBGSize grpelem" id="u1649">
                            <!-- simple frame --></div>
                          <div class="Container invi museBGSize grpelem" id="u1650">
                            <!-- simple frame --></div>
                        </div>
                      </div>
                      <div class="ThumbGroup clearfix grpelem" id="u1657"><!-- none box -->
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1660"><!-- simple frame --></div>
                        </div>
                        <div class="popup_anchor">
                          <div class="Thumb popup_element" id="u1659"><!-- simple frame --></div>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix grpelem" id="pu1661"><!-- group -->
                      <div class="clearfix grpelem" id="u1661"><!-- column -->
                        <div class="position_content" id="u1661_position_content">
                          <div class="clearfix colelem" id="u1665-6"><!-- content -->
                            <p id="u1665-2">HOW TO REST LATEST NEWS TITLE</p>

                            <p id="u1665-4">May 13, 2015</p>
                          </div>
                          <div class="clearfix colelem" id="u1645-6"><!-- content -->
                            <p id="u1645-2"><span id="u1645">ï‘¾</span></p>

                            <p id="u1645-4">JANET</p>
                          </div>
                        </div>
                      </div>
                      <div class="clearfix grpelem" id="u1662-6"><!-- content -->
                        <p id="u1662-2"><span id="u1662">ï„œ</span></p>

                        <p id="u1662-4">5214</p>
                      </div>
                      <div class="clearfix grpelem" id="u1664-6"><!-- content -->
                        <p id="u1664-2"><span id="u1664">ï„º</span></p>

                        <p id="u1664-4">13</p>
                      </div>
                      <div class="clearfix grpelem" id="u1663-6"><!-- content -->
                        <p id="u1663-2"><span id="u1663">ïˆŽ</span></p>

                        <p id="u1663-4">ONLINE SHOP</p>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="anchor_item colelem" id="price"></a>

                <div class="page_title clearfix colelem" id="u1820-4"><!-- content -->

                </div>
                <div class="page_title_left_line colelem" id="u1821"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u1822"><!-- simple frame --></div>
                <div class="clearfix colelem" id="pu1825"><!-- group -->
                  <div class="pricing_btn clearfix grpelem" id="u1825"><!-- column -->
                    <div class="position_content" id="u1825_position_content">
                      <div class="clearfix colelem" id="u1829-8"><!-- content -->
                        <p id="u1829-2">BASIC PLAN</p>

                        <p id="u1829-3">&nbsp;</p>

                        <p id="u1829-5">$39</p>

                        <p id="u1829-6">&nbsp;</p>
                      </div>
                      <div class="price_btn colelem" id="u1847"><!-- simple frame --></div>
                    </div>
                  </div>
                  <div class="pricing_btn clearfix grpelem" id="u1826"><!-- column -->
                    <div class="position_content" id="u1826_position_content">
                      <div class="clearfix colelem" id="u1830-8"><!-- content -->
                        <p id="u1830-2">ECO PLAN</p>

                        <p id="u1830-3">&nbsp;</p>

                        <p id="u1830-5">$49</p>

                        <p id="u1830-6">&nbsp;</p>
                      </div>
                      <div class="price_btn colelem" id="u1853"><!-- simple frame --></div>
                    </div>
                  </div>
                  <div class="pricing_btn clearfix grpelem" id="u1827"><!-- column -->
                    <div class="position_content" id="u1827_position_content">
                      <div class="clearfix colelem" id="u1831-8"><!-- content -->
                        <p id="u1831-2">MEGA PLAN</p>

                        <p id="u1831-3">&nbsp;</p>

                        <p id="u1831-5">$59</p>

                        <p id="u1831-6">&nbsp;</p>
                      </div>
                      <div class="price_btn colelem" id="u1854"><!-- simple frame --></div>
                    </div>
                  </div>
                  <div class="pricing_btn clearfix grpelem" id="u1828"><!-- column -->
                    <div class="position_content" id="u1828_position_content">
                      <div class="clearfix colelem" id="u1832-8"><!-- content -->
                        <p id="u1832-2">PRO PLAN</p>

                        <p id="u1832-3">&nbsp;</p>

                        <p id="u1832-5">$99</p>

                        <p id="u1832-6">&nbsp;</p>
                      </div>
                      <div class="clearfix colelem" id="u1836-13"><!-- content -->
                        <p id="u1836-2">Free Download</p>

                        <p id="u1836-4">1000+ Softwear</p>

                        <p id="u1836-6">Full Access</p>

                        <p id="u1836-8">Free Update</p>

                        <p id="u1836-10">Live Support</p>

                        <p id="u1836-11">&nbsp;</p>
                      </div>
                      <div class="price_btn colelem" id="u1855"><!-- simple frame --></div>
                    </div>
                  </div>
                </div>
                <a class="anchor_item colelem" id="contact"></a>

                <div class="page_title clearfix colelem" id="u797-4"><!-- content -->
                  <p>Contact us</p>
                </div>
                <div class="page_title_left_line colelem" id="u1014"><!-- simple frame --></div>
                <div class="page_title_right_line colelem" id="u1015"><!-- simple frame --></div>
                <div class="clearfix colelem" id="pu1859-5"><!-- group -->
                  <div class="clearfix grpelem" id="u1859-5"><!-- content -->
                    <p><span id="u1859">ï…„&nbsp; </span><span id="u1859-2">Ä°stanbul Findikzade 101. Sk. No: 58</span>
                    </p>
                  </div>
                  <div class="clearfix grpelem" id="u1861-5"><!-- content -->
                    <p><span id="u1861">ï„²&nbsp; </span><span
                      id="u1861-2">contact_info@contact.com</span></p>
                  </div>
                  <div class="clearfix grpelem" id="u1863-5"><!-- content -->
                    <p><span id="u1863">ï’¹&nbsp; </span><span
                      id="u1863-2">+ 2 585 6 875 / 658 8 547</span></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="PamphletWidget clearfix grpelem" id="pamphletu143"><!-- none box -->
          <div class="ThumbGroup clearfix grpelem" id="u146"><!-- none box -->
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u149"><!-- group -->
                <div class="clearfix grpelem" id="u225-4"><!-- content -->
                  <p>ï?¯</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u148"><!-- group -->
                <div class="clearfix grpelem" id="u226-4"><!-- content -->
                  <p>ï?Š</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u150"><!-- group -->
                <div class="clearfix grpelem" id="u227-4"><!-- content -->
                  <p>ï?—</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u147"><!-- group -->
                <div class="clearfix grpelem" id="u229-4"><!-- content -->
                  <p>ï?‘</p>
                </div>
              </div>
            </div>
          </div>
          <div class="popup_anchor" id="u153popup">
            <div class="ContainerGroup clearfix" id="u153"><!-- stack box -->
              <div class="Container clearfix grpelem" id="u163"><!-- group -->
                <div class="clearfix grpelem" id="u856-9"><!-- content -->
                  <p id="u856-4">Wide Eye Creative is a creative digital studio that empowers campaigns,
                    <span id="u856-2">Etiam diam mauris, iaculis eget eros et, maximus cursus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</span>
                    per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nullam placerat maximus ex quis egestas. Morbi volutpat scelerisque elit sed
                    convallis. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                  <p id="u856-5">&nbsp;</p>

                  <p id="u856-7">#john carter doe</p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u157"><!-- column -->
                <div class="museBGSize colelem" id="u1074"><!-- simple frame --></div>
                <div class="clearfix colelem" id="u855-6"><!-- content -->
                  <p>Wide Eye Creative is a creative digital studio that empowers campaigns, <span
                    id="u855-2">Etiam diam mauris, iaculis eget eros et, maximus cursus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</span>
                  </p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u160"><!-- group -->
                <div class="clearfix grpelem" id="u854-8"><!-- content -->
                  <p id="u854-3"><span id="u854">Etiam diam mauris, iaculis eget eros et, maximus cursus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</span>
                    per inceptos himenaeos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

                  <p id="u854-4">&nbsp;</p>

                  <p id="u854-6">#john carter doe</p>
                </div>
                <div class="museBGSize grpelem" id="u1055"><!-- simple frame --></div>
              </div>
              <div class="Container invi clearfix grpelem" id="u154"><!-- group -->
                <div class="museBGSize grpelem" id="u1036"><!-- simple frame --></div>
                <div class="clearfix grpelem" id="u195-9"><!-- content -->
                  <p id="u195-4">Wide Eye Creative is a creative digital studio that empowers campaigns,
                    <span id="u195-2">Etiam diam mauris, iaculis eget eros et, maximus cursus erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra,</span>
                  </p>

                  <p id="u195-5">&nbsp;</p>

                  <p id="u195-7">#john carter doe</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="portfolio_image_left clip_frame clearfix grpelem" id="u239"><!-- image -->
          <div id="u239_clip">
            <img class="position_content" id="u239_img" src="img/img3.jpg" alt="portolio" title="portolio"
                 width="605" height="414"/>
          </div>
        </div>
        <div class="portfolio_image_right clip_frame clearfix grpelem" id="u301"><!-- image -->
          <div id="u301_clip">
            <img class="position_content" id="u301_img" src="img/img4.jpg" alt="" width="735" height="503"/>
          </div>
        </div>
        <div class="grpelem" id="u849"><!-- simple frame --></div>
        <div class="grpelem" id="u851"><!-- simple frame --></div>
        <div class="grpelem" id="u853"><!-- simple frame --></div>
        <div class="page_title_icon clearfix grpelem" id="u861-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="PamphletWidget clearfix widget_invisible grpelem" id="pamphletu1951"><!-- none box -->
          <div class="ThumbGroup clearfix grpelem" id="u1952"><!-- none box -->
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u1954"><!-- group -->
                <div class="clearfix grpelem" id="u1970-4"><!-- content -->
                  <p>ï‰ž</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u1971"><!-- group -->
                <div class="clearfix grpelem" id="u1975-4"><!-- content -->
                  <p>ï‰ž</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u1976"><!-- group -->
                <div class="clearfix grpelem" id="u1981-4"><!-- content -->
                  <p>ï‰ž</p>
                </div>
              </div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element clearfix" id="u1979"><!-- group -->
                <div class="clearfix grpelem" id="u1982-4"><!-- content -->
                  <p>ï‰ž</p>
                </div>
              </div>
            </div>
          </div>
          <div class="popup_anchor" id="u1962popup">
            <div class="ContainerGroup rgba-background clearfix" id="u1962"><!-- stack box -->
              <div class="Container invi museBGSize clearfix grpelem" id="u1963"><!-- group -->
                <div class="clearfix grpelem" id="u1964-4"><!-- content -->
                  <p>Noticed a street light in need of maintenance? we provide street light maintenance
                    service.</p>
                </div>
              </div>
              <div class="Container invi museBGSize clearfix grpelem" id="u1973"><!-- group -->
                <div class="clearfix grpelem" id="u1986-4"><!-- content -->
                  <p>we repair all infrastructure that needs improvement or reparation.</p>
                </div>
              </div>
              <div class="Container invi museBGSize clearfix grpelem" id="u1978"><!-- group -->
                <div class="clearfix grpelem" id="u1990-4"><!-- content -->
                  <p>If you feel your street needs cleaning. we are responsible for cleaning public land
                    and roads.</p>
                </div>
              </div>
              <div class="Container invi museBGSize clearfix grpelem" id="u1980"><!-- group -->
                <div class="clearfix grpelem" id="u1995-4"><!-- content -->
                  <p>there are people who live their life lavishly
                    they cannot even afford the basic requirements of living. They do not have shelter
                    to live, food to eat, and clothes to wear
                    One of the better ways to help the poor and needy people is to give them a hand up
                    rather than a hand out.Through our network we create awareness and get a helping
                    hand we can connect to various charity association involved in helping the needy
                    people.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="popup_anchor">
            <div class="PamphletPrevButton PamphletLightboxPart popup_element clearfix" id="u1960">
              <!-- group -->
              <div class="clearfix grpelem" id="u1961-4"><!-- content -->
                <p><span id="u1961">ï„‡</span></p>
              </div>
            </div>
          </div>
          <div class="popup_anchor">
            <div class="PamphletNextButton PamphletLightboxPart popup_element clearfix" id="u1958">
              <!-- group -->
              <div class="clearfix grpelem" id="u1959-4"><!-- content -->
                <p><span id="u1959">ï„Š</span></p>
              </div>
            </div>
          </div>
          <div class="popup_anchor">
            <div class="PamphletCloseButton PamphletLightboxPart popup_element clearfix" id="u1956">
              <!-- group -->
              <div class="clearfix grpelem" id="u1957-4"><!-- content -->
                <p>ï?„</p>
              </div>
            </div>
          </div>
        </div>
        <div class="grpelem" id="u339"
             data-mu-ie-matrix="progid:DXImageTransform.Microsoft.Matrix(M11=0,M12=-1,M21=1,M22=0,SizingMethod='auto expand')"
             data-mu-ie-matrix-dx="-483" data-mu-ie-matrix-dy="483"><!-- simple frame --></div>
        <div class="clearfix grpelem" id="u341-4"><!-- content -->
          <p>ï?‰</p>
        </div>
        <div class="clearfix grpelem" id="u356-4"><!-- content -->
          <p>ïŒ?</p>
        </div>
        <div class="clearfix grpelem" id="u367-4"><!-- content -->
          <p>ï‡¼</p>
        </div>
        <div class="clearfix grpelem" id="u347-4"><!-- content -->
          <p>ï„³</p>
        </div>
        <div class="page_title_icon clearfix grpelem" id="u873-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="page_title_icon clearfix grpelem" id="u880-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="grpelem" id="u2093"><!-- simple frame --></div>
        <div class="browser_width grpelem" id="u732-bw">
          <div class="museBGSize" id="u732"><!-- group -->
            <div class="clearfix" id="u732_align_to_page">
              <div class="clearfix grpelem" id="u1996-4"><!-- content -->
                <p>ï‚™</p>
              </div>
            </div>
          </div>
        </div>
        <div class="PamphletWidget clearfix grpelem" id="pamphletu734"><!-- none box -->
          <div class="popup_anchor" id="u735popup">
            <div class="ContainerGroup clearfix" id="u735"><!-- stack box -->
              <div class="Container clearfix grpelem" id="u738"><!-- group -->
                <div class="clearfix grpelem" id="u739-7"><!-- content -->
                  <p>&nbsp;@bygormo_tweet Â· 2 weeks ago</p>

                  <p>&nbsp;</p>

                  <p>&nbsp;&nbsp;&nbsp; RT @bygormo: A year ago we launched our @JohnDoe campaign website.
                    A beautiful piece of tech from @besiktas,&nbsp; Excited to see their work in '16</p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u736"><!-- group -->
                <div class="clearfix grpelem" id="u737-7"><!-- content -->
                  <p>&nbsp;@bygormo_tweet Â· 2 weeks ago</p>

                  <p>&nbsp;</p>

                  <p>&nbsp;&nbsp;&nbsp; RT @bygormo: A year ago we launched our @JohnDoe campaign website.
                    A beautiful piece of tech from @besiktas,&nbsp; Excited to see their work in '16</p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u740"><!-- group -->
                <div class="clearfix grpelem" id="u741-7"><!-- content -->
                  <p>&nbsp;@bygormo_tweet Â· 2 weeks ago</p>

                  <p>&nbsp;</p>

                  <p>&nbsp;&nbsp;&nbsp; RT @bygormo: A year ago we launched our @JohnDoe campaign website.
                    A beautiful piece of tech from @besiktas,&nbsp; Excited to see their work in '16</p>
                </div>
              </div>
            </div>
          </div>
          <div class="ThumbGroup clearfix grpelem" id="u742"><!-- none box -->
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u744"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u743"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u745"><!-- simple frame --></div>
            </div>
          </div>
        </div>
        <div class="page_title_icon clearfix grpelem" id="u1196-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="PamphletWidget clearfix grpelem" id="pamphletu1227"><!-- none box -->
          <div class="ThumbGroup clearfix grpelem" id="u1246"><!-- none box -->
            <div class="popup_anchor">
              <div class="Thumb popup_element rgba-background" id="u1249"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element rgba-background" id="u1251"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element rgba-background" id="u1247"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element rgba-background" id="u1253"><!-- simple frame --></div>
            </div>
          </div>
          <div class="popup_anchor" id="u1230popup">
            <div class="ContainerGroup clearfix" id="u1230"><!-- stack box -->
              <div class="Container clearfix grpelem" id="u1234"><!-- group -->
                <div class="museBGSize grpelem" id="u1330"><!-- simple frame --></div>
                <div class="clearfix grpelem" id="pu1329-9"><!-- column -->
                  <div class="clearfix colelem" id="u1329-9"><!-- content -->

                    <p id="u1329-7">#Yousfi Mhamed</p>
                  </div>
                  <div class="clearfix colelem" id="pu1331-4"><!-- group -->
                    <div class="clearfix grpelem" id="u1331-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1332-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1333-4"><!-- content -->
                      <p>ïˆ³</p>
                    </div>
                    <div class="clearfix grpelem" id="u1334-4"><!-- content -->
                      <p>ïˆ¹</p>
                    </div>
                    <div class="clearfix grpelem" id="u1335-4"><!-- content -->
                      <p>ï‰ƒ</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u1236"><!-- group -->
                <div class="museBGSize grpelem" id="u1323"><!-- simple frame --></div>
                <div class="clearfix grpelem" id="pu1322-9"><!-- column -->
                  <div class="clearfix colelem" id="u1322-9"><!-- content -->

                    <p id="u1322-7">#Bouyahi Oumaima</p>
                  </div>
                  <div class="clearfix colelem" id="pu1324-4"><!-- group -->
                    <div class="clearfix grpelem" id="u1324-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1325-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1326-4"><!-- content -->
                      <p>ïˆ³</p>
                    </div>
                    <div class="clearfix grpelem" id="u1327-4"><!-- content -->
                      <p>ïˆ¹</p>
                    </div>
                    <div class="clearfix grpelem" id="u1328-4"><!-- content -->
                      <p>ï‰ƒ</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u1239"><!-- group -->
                <div class="museBGSize grpelem" id="u1316"><!-- simple frame --></div>
                <div class="clearfix grpelem" id="pu1315-9"><!-- column -->
                  <div class="clearfix colelem" id="u1315-9"><!-- content -->

                    <p id="u1315-7">#Ebdelli Khaled</p>
                  </div>
                  <div class="clearfix colelem" id="pu1317-4"><!-- group -->
                    <div class="clearfix grpelem" id="u1317-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1318-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1319-4"><!-- content -->
                      <p>ïˆ³</p>
                    </div>
                    <div class="clearfix grpelem" id="u1320-4"><!-- content -->
                      <p>ïˆ¹</p>
                    </div>
                    <div class="clearfix grpelem" id="u1321-4"><!-- content -->
                      <p>ï‰ƒ</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u1231"><!-- group -->
                <div class="museBGSize grpelem" id="u1232"><!-- simple frame --></div>
                <div class="clearfix grpelem" id="pu1233-9"><!-- column -->
                  <div class="clearfix colelem" id="u1233-9"><!-- content -->


                    <p id="u1233-7">#Gmar Ferdaws</p>
                  </div>
                  <div class="clearfix colelem" id="pu1310-4"><!-- group -->
                    <div class="clearfix grpelem" id="u1310-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1311-4"><!-- content -->
                      <p>ï??</p>
                    </div>
                    <div class="clearfix grpelem" id="u1312-4"><!-- content -->
                      <p>ïˆ³</p>
                    </div>
                    <div class="clearfix grpelem" id="u1313-4"><!-- content -->
                      <p>ïˆ¹</p>
                    </div>
                    <div class="clearfix grpelem" id="u1314-4"><!-- content -->
                      <p>ï‰ƒ</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="page_title_icon clearfix grpelem" id="u1358-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="work_button grpelem" id="u1550"><!-- simple frame --></div>
        <div class="work_button grpelem" id="u1684"><!-- simple frame --></div>
        <div class="work_button grpelem" id="u1685"><!-- simple frame --></div>
        <div class="browser_width grpelem" id="u1696-bw">
          <div class="museBGSize" id="u1696"><!-- simple frame --></div>
        </div>
        <div class="PamphletWidget clearfix grpelem" id="pamphletu1697"><!-- none box -->
          <div class="popup_anchor" id="u1704popup">
            <div class="ContainerGroup clearfix" id="u1704"><!-- stack box -->
              <div class="Container clearfix grpelem" id="u1705"><!-- group -->
                <div class="clearfix grpelem" id="u1752-8"><!-- content -->
                  <p id="u1752">&nbsp;</p>

                  <p id="u1752-3">BEAUTIFUL &amp; FUNCTIONAL APP DESIGN</p>

                  <p id="u1752-4">&nbsp;</p>

                  <p id="u1752-6">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s...</p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u1707"><!-- group -->
                <div class="clearfix grpelem" id="u1751-8"><!-- content -->
                  <p id="u1751">&nbsp;</p>

                  <p id="u1751-3">ZEQ THEME CREATIVE AGENCY</p>

                  <p id="u1751-4">&nbsp;</p>

                  <p id="u1751-6">Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s...</p>
                </div>
              </div>
              <div class="Container invi clearfix grpelem" id="u1709"><!-- group -->
                <div class="clearfix grpelem" id="u1710-8"><!-- content -->
                  <p id="u1710">&nbsp;</p>

                  <p id="u1710-3">PARALLAX SCROLLING EFFECT</p>

                  <p id="u1710-4">&nbsp;</p>

                  <p id="u1710-6">
                    indus   try. Lorem Ipsum has been the industry's standard dummy text ever since the
                    1500s...</p>
                </div>
              </div>
            </div>
          </div>
          <div class="ThumbGroup clearfix grpelem" id="u1711"><!-- none box -->
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u1713"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u1712"><!-- simple frame --></div>
            </div>
            <div class="popup_anchor">
              <div class="Thumb popup_element" id="u1714"><!-- simple frame --></div>
            </div>
          </div>
        </div>
        <div class="page_title_icon clearfix grpelem" id="u1823-4"><!-- content -->
          <p>ïz</p>
        </div>
        <div class="clearfix grpelem" id="u1833-13"><!-- content -->
          <p id="u1833-2">Free Download</p>

          <p id="u1833-4">1000+ Softwear</p>

          <p id="u1833-6">Full Access</p>

          <p id="u1833-8">Free Update</p>

          <p id="u1833-10">Live Support</p>

          <p id="u1833-11">&nbsp;</p>
        </div>
        <div class="clearfix grpelem" id="u1834-13"><!-- content -->
          <p id="u1834-2">Free Download</p>

          <p id="u1834-4">1000+ Softwear</p>

          <p id="u1834-6">Full Access</p>

          <p id="u1834-8">Free Update</p>

          <p id="u1834-10">Live Support</p>

          <p id="u1834-11">&nbsp;</p>
        </div>
        <div class="clearfix grpelem" id="u1835-13"><!-- content -->
          <p id="u1835-2">Free Download</p>

          <p id="u1835-4">1000+ Softwear</p>

          <p id="u1835-6">Full Access</p>

          <p id="u1835-8">Free Update</p>

          <p id="u1835-10">Live Support</p>

          <p id="u1835-11">&nbsp;</p>
        </div>
        <form class="form-grp clearfix grpelem" id="widgetu800" method="post" enctype="multipart/form-data"
              action="scripts/form-u800.php"><!-- none box -->
          <div class="fld-grp clearfix grpelem" id="widgetu807" data-required="true"><!-- none box -->
            <label class="fld-label actAsDiv clearfix grpelem" id="u810-4" for="widgetu807_input">
              <!-- content --><span class="actAsPara">ï’€</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u809-4"><!-- content --><input
                      class="wrapped-input" type="text" spellcheck="false" id="widgetu807_input"
                      name="custom_U807" tabindex="1"/><label class="wrapped-input fld-prompt"
                                                              id="widgetu807_prompt"
                                                              for="widgetu807_input"><span class="actAsPara">Bygormo</span></label></span>
          </div>
          <div class="fld-grp clearfix grpelem" id="widgetu811" data-required="true" data-type="email">
            <!-- none box -->
            <label class="fld-label actAsDiv clearfix grpelem" id="u812-4" for="widgetu811_input">
              <!-- content --><span class="actAsPara">ï„²</span></label>
                    <span class="fld-input NoWrap actAsDiv clearfix grpelem" id="u814-4"><!-- content --><input
                      class="wrapped-input" type="text" spellcheck="false" id="widgetu811_input" name="Email"
                      tabindex="2"/><label class="wrapped-input fld-prompt" id="widgetu811_prompt"
                                           for="widgetu811_input"><span
                      class="actAsPara">bygormo@gmail.com</span></label></span>
          </div>
          <div class="clearfix grpelem" id="u815-4"><!-- content -->
            <p>Submitting Form...</p>
          </div>
          <div class="clearfix grpelem" id="u816-4"><!-- content -->
            <p>The server encountered an error.</p>
          </div>
          <div class="clearfix grpelem" id="u806-4"><!-- content -->
            <p>Form received.</p>
          </div>
          <input class="submit-btn NoWrap grpelem" id="u805-17" type="submit" value="" tabindex="4"/>
          <!-- state-based BG images -->
          <div class="fld-grp clearfix grpelem" id="widgetu801" data-required="true"><!-- none box -->
            <label class="fld-label actAsDiv clearfix grpelem" id="u803-4" for="widgetu801_input">
              <!-- content --><span class="actAsPara">ï‘´</span></label>
                    <span class="fld-textarea actAsDiv clearfix grpelem" id="u802-4"><!-- content --><textarea
                      class="wrapped-input" id="widgetu801_input" name="custom_U801"
                      tabindex="3"></textarea><label class="wrapped-input fld-prompt" id="widgetu801_prompt"
                                                     for="widgetu801_input"><span class="actAsPara">Bygormo Questions ?</span></label></span>
          </div>
        </form>
        <div class="page_title_icon clearfix grpelem" id="u1016-4"><!-- content -->
          <p>ï??</p>
        </div>
        <div class="browser_width grpelem" id="u3675-bw">
          <div id="u3675"><!-- group -->
            <div class="clearfix" id="u3675_align_to_page">
              <div class="grpelem" id="u3676"><!-- custom html -->
                <script>

                  function initialize() {
                    var mapOptions = {
                      center: {lat: 41.012540, lng: 28.939731},
                      zoom: 8,
                      scrollwheel: false
                    };
                    var map = new google.maps.Map(document.getElementById('u3675'),
                      mapOptions);
                  }
                  google.maps.event.addDomListener(window, 'load', initialize);


                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="verticalspacer"></div>
      <div class="clearfix colelem" id="pu835"><!-- group -->
        <div class="browser_width grpelem" id="u835-bw">
          <div id="u835"><!-- column -->
            <div class="clearfix" id="u835_align_to_page">
              <div class="clearfix colelem" id="pu1893-5"><!-- group -->
                <div class="clearfix grpelem" id="u1893-5"><!-- content -->
                  <p><span id="u1893">ï‰° </span>ZEQ STUDIO ABOUT</p>
                </div>
                <div class="clearfix grpelem" id="u1900-5"><!-- content -->
                  <p><span id="u1900">ï‰° </span>latest news</p>
                </div>
                <div class="clearfix grpelem" id="u1904-5"><!-- content -->
                  <p><span id="u1904">ï‰° </span>recent post</p>
                </div>
                <div class="clearfix grpelem" id="u1908-5"><!-- content -->
                  <p><span id="u1908">ï‰° </span>flickr photo</p>
                </div>
              </div>
              <div class="clearfix colelem" id="pu1897-4"><!-- group -->
                <div class="clearfix grpelem" id="u1897-4"><!-- content -->
                  <p>Integer egestas congue lectus, ut convallis magna consectetur sed. Vivamus hendrerit
                    eros ut sapien gravida hendrerit.</p>
                </div>
                <div class="clearfix grpelem" id="u1901-11"><!-- content -->
                  <p><span id="u1901">ï„¯&nbsp; </span><span id="u1901-2">Integer egestas </span>congue
                    lectus, ut convallis magna.</p>

                  <p><span id="u1901-5">ï„¯&nbsp; </span>Vivamus hendrerit <span id="u1901-7">eros ut sapien gravida</span>
                    hendrerit..</p>
                </div>
                <div class="clearfix grpelem" id="u1905-9"><!-- content -->
                  <p><span id="u1905">ï‰‚&nbsp; @</span>Integer egestas congue lectus, ut convallis magna
                    http://bit.ly<span id="u1905-3">.useing</span></p>

                  <p><span id="u1905-5">ï‰‚&nbsp; @</span>Vivamus hendrerit eros ut sapien gravida
                    http://bit.ly</p>
                </div>
                <div class="clearfix grpelem" id="u1910"><!-- group -->
                  <div class="PamphletWidget clearfix grpelem" id="pamphletu1917"><!-- none box -->
                    <div class="popup_anchor" id="u1918popup">
                      <div class="ContainerGroup clearfix" id="u1918"><!-- stack box -->
                        <div class="Container museBGSize grpelem" id="u1921">
                          <!-- simple frame --></div>
                        <div class="Container invi museBGSize grpelem" id="u1919">
                          <!-- simple frame --></div>
                      </div>
                    </div>
                    <div class="ThumbGroup clearfix grpelem" id="u1926"><!-- none box -->
                      <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners" id="u1927">
                          <!-- simple frame --></div>
                      </div>
                      <div class="popup_anchor">
                        <div class="Thumb popup_element rounded-corners" id="u1928">
                          <!-- simple frame --></div>
                      </div>
                    </div>
                    <div class="popup_anchor">
                      <div class="PamphletPrevButton PamphletLightboxPart popup_element clearfix"
                           id="u1922"><!-- group -->
                        <div class="clearfix grpelem" id="u1923-4"><!-- content -->
                          <p>ï?•</p>
                        </div>
                      </div>
                    </div>
                    <div class="popup_anchor">
                      <div class="PamphletNextButton PamphletLightboxPart popup_element clearfix"
                           id="u1930"><!-- group -->
                        <div class="clearfix grpelem" id="u1931-4"><!-- content -->
                          <p>ï?–</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="clearfix colelem" id="u1892-4"><!-- content -->
                <p>ZEQ STUDIO THEME</p>
              </div>
              <div class="clearfix colelem" id="u843-4"><!-- content -->
                <p>Copyright Â© 2015. All rights reserved Bygormo</p>
              </div>
              <div class="clearfix colelem" id="pu1889-4"><!-- group -->
                <a class="nonblock nontext anim_swing rounded-corners social_btn clearfix grpelem"
                   id="u1889-4" href="index.html#top"><!-- content --><p>ï„?</p></a>

                <div class="grpelem" id="u1105"><!-- custom html -->
                  <script>

                    $('.page_title, .page_title_icon').addClass('wow bounceIn');
                    $('.slider_text, .work_button, .dijital_text, .social_btn').addClass('wow fadeInUp');
                    $('.ze_logo, .page_title_left_line, .portfolio_image_left, .work_text_left, .web_mockup_left').addClass('wow fadeInLeft');
                    $('.mobile_menu, .page_title_right_line, .portfolio_image_right, .work_text_right, .web_mockup_right').addClass('wow fadeInRight');
                    $('.portfolio_image, .web_mockup_center').addClass('wow bounce');

                  </script>

                  <script>
                    new WOW().init();
                  </script>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="browser_width grpelem" id="u1877-bw">
          <div id="u1877"><!-- simple frame --></div>
        </div>
      </div>
    </div>
  </div>
  <div class="preload_images">
    <img class="preload" src="img/u805-17-r.png" alt=""/>
    <img class="preload" src="img/u805-17-m.png" alt=""/>
    <img class="preload" src="img/u805-17-fs.png" alt=""/>
  </div>
</section>
